<div class="main-wrapper">

    <app-leftside></app-leftside>

    <div class="page-wrapper">

        <app-topside></app-topside>

        <div class="page-content">
            <div class="card p-1">

                <table id="dataTables" class="display excel">
                    <thead>
                        <tr> 
                            <th>No</th>
                            <th>Period Date</th> 
                            <th class="text-right">Rebate (IDR)</th>
                            <th class="text-center">Detail</th>
                            
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let x of items;let i = index">
                            <td> {{i+1}} </td>
                            <td> {{x.periodDate | date}}  - {{x.periodDateEnd | date}}</td>  
                            <td class="text-right"> {{x.amount | number}} </td>
                            <td class="text-center"> 
                               
                                <a class="btn btn-sm btn-primary py-0" title="{{admin}}{{x.urlDetail}}" href="{{admin}}{{x.urlDetail}}" target="_blank">PDF</a>
                            </td>
                            
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>

        <app-footer></app-footer>

    </div>
</div>





<ng-template #modalDetail let-c="close" let-d="dismiss">
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Batch  {{batch}}</strong>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table excel" style="width:100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Child</th>
                    <th class="text-center">Child Depth </th>
 
                    <th class="text-right"> Rebate (Rp)</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of detail; let i  = index">
                    <td> {{i+1}} </td>
                    <td> {{x.child}} </td>
                    <td  class="text-center"> {{x.level}} </td>
  
                    <td class="text-right">Rp {{x.rupiah | number}}</td>


                </tr>

            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">closed</button>
    </div>
</ng-template>