<div class="main-wrapper">

    <app-leftside></app-leftside>

    <div class="page-wrapper">

        <app-topside></app-topside>

        <div class="page-content">
            <div class="card p-2">
                <div class="row">
                    <div class="col-12">
                        <input id="filter" [(ngModel)]="search" #filter class="form-control border-bottom rounded-0" (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="Search by name" />

                        <a href="javascript:;" (click)="tree.treeModel.clearFilter(); search = ''" class="px-2">
                            <small>Clear Filter</small>
                        </a>

                        <a href="javascript:;" [hidden]="expandAll" (click)="tree.treeModel.expandAll() ; expandAll = true" class="px-2">
                            <small>Expand Tree</small>
                        </a>

                        <a href="javascript:;" [hidden]="!expandAll" (click)="tree.treeModel.collapseAll() ; expandAll = false" class="px-2">
                            <small>Collapse Tree</small>
                        </a>


                        <tree-root [nodes]="nodes" #tree (activate)="onEvent($event)" [options]="options">
                            <ng-template #treeNodeTemplate let-node let-index="index">
                                <span> <strong> {{ node.data.name }}</strong> <small class="text-uppercase mx-1">({{node.data.level}})</small></span>
                                <div><small>ID : {{ node.data.id }}</small> 
                                   
                                    <a [routerLink]="[ '/user/detail', node.data.id ]" class="mx-2"><small>Detail</small></a>
                                </div>
                            </ng-template>
                            <!-- https://angular2-tree.readme.io/docs/templates -->
                        </tree-root>


                    </div>

                </div>
            </div>
        </div>
    </div>


</div>