<div class="main-wrapper">

    <app-leftside></app-leftside>

    <div class="page-wrapper">

        <app-topside></app-topside>

        <div class="page-content">
            <div class="card">
                <div class="card-body">
 
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4">
                            <div class="alert alert-warning mr-1">
                                <small>Total Available BV</small>
                                <table>

                                    <tr>
                                        <td width="50%">
                                            Left
                                        </td>
                                        <td>
                                            Right
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <b>{{leftBv | number}}</b>
                                        </td>
                                        <td>
                                            <b>{{rightBv | number}}</b>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="alert alert-dark mr-1">
                                <small>Total Accumulation BV</small>
                                <table>

                                    <tr>
                                        <td width="50%">
                                            Left
                                        </td>
                                        <td>
                                            Right
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <b>{{leftBvTotal | number}}</b>
                                        </td>
                                        <td>
                                            <b>{{rightBvTotal | number}}</b>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="alert alert-danger mr-1">
                                <small>Latest Paired</small>
                                <div>
                                    <strong> {{pairingToday}} </strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-2">
                            <div class="alert alert-info mr-1">
                                <small>Maximum Pairing Commission Per Day</small>
                                <div>
                                    <strong>Rp {{vps['commission']| number}}  </strong>
                                </div>
                             
                            </div>
                        </div>
                    </div>


                   

                    <table id="example" class="display excel" style="width:100%">
                        <thead>
                            <tr>
                                <th>Pairing Date</th>
                                <th class="text-right">BV per Day</th>
                                <th class="text-right">Commission</th>
                                <th class="text-right">Flushout </th>
                                <th class="text-right">Pending</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of pairing">
                                <td>{{x.pairingDate | date:'d MMM y'}} </td>

                                <td class="text-right">{{x.bv | number}}</td>
                                <td class="text-right">Rp {{x.commission | number}}</td>
                                <td class="text-right">Rp {{x.lost | number}}</td>
                                <td class="text-right">Rp {{x.pending | number}}</td>
                                <td>
                                    <a href="javascript:;" (click)="open(detail,x,'pairingDetail');accumulation = x.commission;"><small>Detail</small></a>
                                    &nbsp;
                                    <a href="javascript:;" (click)="open(history,x,'pairingHistory')"><small>History</small></a>
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>
           
        </div>

        <app-footer></app-footer>

    </div>
</div>



<ng-template #detail let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Pairing Detail by <span class="text-primary">{{pairingDate | date : "d MMM y"}}</span></strong>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="">

        <table class="table table-sm table-striped tablestyle1">
            <thead>
                <tr>
                    <th>No</th>
                    <th>pairing Date</th>
                    <th class="text-right">Bv</th>
                    <th class="text-right">Commission (Rp)</th> 
                    
                    <th>Transaction Code</th>
                    <th>status</th>
                    <th>ID History</th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="!modalLoading">
                    <td colspan="7" class="text-center">
                        <p>
                            Loading...
                        </p>
                    </td>
                </tr>
                <tr *ngFor="let x of pairingDetail; let i = index">

                    <td> {{i+1}}</td>
                    <td> {{x.input_date | date:'h:mm a'}} </td>


                    <td class="text-right"> {{x.bv | number}}</td>
                    <td class="text-right"> {{x.commission | number}}</td> 

                    <td> <code> {{x.transactionCode}}</code></td>
                    <td> {{x.status}} </td>
                    <td><a href=" #/comPairing?idDetail={{x.bonusPairingDetailId}}" (click)="getDetail(x,history);"> <code> {{x.bonusPairingDetailId}}</code></a> </td>

                </tr>

            </tbody>

            <tfoot>
                <tr class="border-bottom">
                    <th></th>
                    <th> Accumulation</th> 
                    <th  class="text-right"> {{accumulation['bv'] | number}} </th>

                    <th class="text-right"> {{accumulation['commission'] | number}}</th>
                    <th></th>
                    <th></th>

                    <th></th> 
                </tr>
            </tfoot>
        </table>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>


<ng-template #history let-modal>
    <div class="modal-header">
        <strong class="modal-title" id="modal-basic-title">Pairing History: <span class="text-primary">{{pairingDate | date : "d MMM y"}}</span></strong>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="" style="overflow-y: auto; max-height: 600px;">

        <table class="table table-sm  tablestyle1">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Time</th>

                    <th>Member</th>
                    <th class="text-right">Left BV</th>
                    <th class="text-right">Right BV</th>

                    <th>Transaction Code</th>
                    <th>Expired</th>
                    <th>Depth</th>


                </tr>
            </thead>
            <tbody>
 

                <tr [hidden]="!modalLoading">
                    <td colspan="7" class="text-center">
                        <p>
                            Loading...
                        </p>
                    </td>
                </tr>
                <tr *ngFor="let x of pairingDetail; let i = index" class="{{ idDetail ==  x.id  ?  'alert-info' :'' }} {{x.transactionCode == '' ? 'bg-light' : ''}}">

                    <td> {{i+1}} </td>
                    <td> <code>{{x.id}}</code> </td>
                    <td> {{x.input_date | date:'h:mm a'}} </td>
                    <td> {{x.sponsor}} </td>

                    <td class="text-right"> {{x.leftBv | number}}</td>
                    <td class="text-right"> {{x.rightBv | number}}</td>

                    <td> <code>{{x.transactionCode}}</code></td>

                    <td> <span [hidden]="x.transactionCode == ''">{{x.expiredDate}}</span> </td>



                    <td> <span [hidden]="x.transactionCode == ''"> {{x.level}} </span> </td>


                </tr>

            </tbody>
            <tfoot >
                 <th></th> <th></th> <th></th>

                <th > Accumulation :</th>

                <th class="text-right">
                    <b>{{accumulation['left'] | number }}</b>
                </th>
                <th class="text-right">
                    <b>{{accumulation['right'] | number }}</b>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tfoot>
        </table>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>