<div class="main-wrapper">

    <app-leftside></app-leftside>

    <div class="page-wrapper">

        <app-topside></app-topside>

        <div class="page-content">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            
                       </div>

                        <div class="col-md-6 col-12">
                            <table>
                                <tr>
                                    <td>Name </td>
                                    <td>: hahaha</td>
                                </tr>
                            </table>
                        </div>
                      
                    </div>
                </div>

           

            </div>
        </div>

        <app-footer></app-footer>

    </div>
</div>